# My Data Structures

## Structures
- pandas DataFrame and Series

In [8]:
import pandas as pd

## Pandas Abstraction
Book by McKinney, Python for Data Analysis, 2nd ed.

### Ch.12 Categorical Methods

In [9]:
# convenient access to the categories and codes

s = pd.Series(['a','b','c','d'] * 2)
cats = s.astype('category')
cats

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [10]:
# use attribute cat
print ('Category codes: ', cats.cat.codes)
print ('Categories: ',cats.cat.categories)

Category codes:  0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8
Categories:  Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# use method set_categories
actual_cats = ['a', 'b', 'c', 'd', 'e']
cats2 = cats.cat.set_categories(actual_cats)
cats2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

In [13]:
# category operations
cats.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [15]:
#different
cats2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

### How to implement 'in' and 'not in' - Series

In [17]:
# isin()
cats3 = cats[cats.isin(['a', 'b'])]
cats3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [18]:
# check if in list
cats.isin(cats3)

0     True
1     True
2    False
3    False
4     True
5     True
6    False
7    False
dtype: bool

In [20]:
# check if not inlist
~cats.isin(cats3)

0    False
1    False
2     True
3     True
4    False
5    False
6     True
7     True
dtype: bool

### How to implement 'in' and 'not in' -  DataFrames

In [38]:
df = pd.DataFrame({'food': ['apples','oranges', 'bananas', 'caviar']})
list_fruit = ['apples','oranges', 'bananas']

df

      food
0   apples
1  oranges
2  bananas
3   caviar

In [39]:
print('Fruit: \n', df.food.isin(list_fruit))

Fruit:
 0     True
1     True
2     True
3    False
Name: food, dtype: bool

In [44]:
print('Fruit:') 
df[df.food.isin(list_fruit)]

Fruit:

      food
0   apples
1  oranges
2  bananas

In [45]:
print('Not fruit:')
df[~df.food.isin(list_fruit)]

Not fruit:

     food
3  caviar